.button1{
background-color: #dddddd;
border-style: none; 
padding: 6px; 
margin-top: 3px; 
margin-left: 1000px; 
border-radius: 5px; 
height: 40px;
font-color : white;

}
.button1:hover {
  background-color: lightgray;
  -webkit-box-shadow: 0 10px 30px 0 #dddddd;
  box-shadow: 0 10px 30px 0 #dddddd;
}

.button1:active{
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}